<!--<div class="wrapper">-->

    <!--&lt;!&ndash; File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect &ndash;&gt;-->
    <!--<input type="file" name="photo" ng2FileSelect [uploader]="uploader" multiple />-->
    <!--&lt;!&ndash; button to trigger the file upload when submitted &ndash;&gt;-->
    <!--<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">-->
        <!--Upload Images-->
    <!--</button>-->



<!--</div>-->
