
/*!*.navbar-nav a{*!*/
  /*!*color: white !important;*!*/
  /*!*font-size: medium;*!*/
  /*!*font-weight: bold;*!*/
/*!*}*!*/
/*!*.dropdown-menu a{*!*/
  /*!*color: blue !important;*!*/
/*!*}*!*/

/*!*.navbar-right{*!*/
  /*!*margin-top: .5%;*!*/
/*!*}*!*/
/*!*input,#searchT{*!*/
  /*!*margin-top: 10px;*!*/
/*!*}*!*/
/*!*.navbar-brand{*!*/
  /*!*max-width: 300px;*!*/
/*!*}*!*/


/*.form-element{*/
  /*!*size dependent*!*/
  /*!*height: 40px;*!*/
  /*!*width: 100%;*!*/
/*}*/

/*.right-nav-link{*/
  /*!*margin-top: 1%;*!*/
  /*font-size: 25px;*/
  /*font-weight: bold;*/
  /*!*padding: 1.5%;*!*/
  /*background: rgba(255, 255, 255, .1);*/
  /*!*opacity: .2;*!*/
  /*!*border: 1px solid white;*!*/
/*}*/

/*a{*/
  /*color: white;*/
/*}*/
/*.right-nav-link:hover{*/
  /*!*background: blue;*!*/

/*}*/

/*!*.center-vertical{*!*/
  /*!*display: flex;*!*/
  /*!*align-items: center;        !* for single line flex container *!*!*/
/*!*}*!*/

/*@media (min-width: 768px) {*/
  /*.center-vertical{*/
    /*display: flex;*/
    /*align-items: center;*/
  /*}*/
  /*.center-horizontal{*/
    /*display: flex;*/
    /*justify-content: center;*/
  /*}*/
  /*.logoSize{*/
   /*width: 60%;*/

  /*}*/
/*}*/
/*@media (max-width: 768px) {*/
  /*.form-element{*/
    /*height: 35px;*/
  /*}*/
  /*.logoSize{*/
    /*width: 80%;*/
    /*margin-bottom: 4px;*/

  /*}*/
  /*.center-horizontal{*/
    /*display: flex;*/
    /*justify-content: center;*/
  /*}*/
  /*.col-xs-12{*/
    /*margin-bottom: 4px;*/
  /*}*/
/*}*/

/*.linkCursor{*/
  /*cursor: pointer;*/
/*}*/




/*.sandeep{*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  /*justify-content: space-around;*/
/*}*/

.border{
  /*border: solid 1px red;*/
}
/*======================*/
.center-vertical{
  display: flex;
  align-items: center;
}
.center-horizontal{
  display: flex;
  justify-content: center;
}

.white-border{
  /*border: green solid 3px;*/
}
.shadow {
  box-shadow:1px 2px 0px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #031d38 !important;
}
