<div class="wrapper">
  <div class="parent" style="width: 100%">
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
    <div class="img-container img-responsive">
      <img src="https://image.flaticon.com/icons/png/512/420/420225.png" alt="">
    </div>
  </div>
</div>

